annotated-doc==0.0.5
annotated-types==0.8.0
antlr4-python3-runtime==4.9.3
anyio==4.14.2
attrs==26.1.0
audioread==3.1.0
basic-pitch==0.4.0
beartype==0.22.9
beat-this==1.1.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
chardet==7.6.0
charset-normalizer==3.5.1
click==8.4.2
contourpy==1.3.3
coverage==7.15.4
cvxopt==1.3.3
cycler==0.12.1
decorator==5.3.1
easydict==1.13
einops==0.8.2
einx==0.4.3
ema-pytorch==0.8.3
filelock==3.32.3
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.63.0
frozendict==2.4.7
fsspec==2026.7.0
ftfy==6.3.1
greenlet==3.5.5
h11==0.16.0
h5py==3.16.0
-e git+https://github.com/louis-j-vincent/harmonia.git@e2735c121865fb2ab75382e12039802d9dc29a47#egg=harmonia
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.28.0
idna==3.19
importlib_resources==7.1.0
iniconfig==2.3.0
itsdangerous==2.2.0
jams==0.3.5
Jinja2==3.1.6
joblib==1.5.3
jsonpickle==4.1.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.49.0
loguru==0.7.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdurl==0.1.2
mido==1.3.3
mir_eval==0.8.2
more-itertools==11.1.0
mpmath==1.3.0
msaf==0.1.80
msgpack==1.2.1
muq==0.1.0
music21==10.5.0
narwhals==2.24.0
networkx==3.6.1
numba==0.67.0
numpy==2.4.6
omegaconf==2.3.1
onnxruntime==1.29.0
packaging==26.3
pandas==3.0.5
pillow==12.3.0
platformdirs==4.11.3
playwright==1.62.0
pluggy==1.6.0
pooch==1.9.0
pretty_midi==0.2.11.post0
protobuf==7.35.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
pyee==13.0.1
Pygments==2.21.0
pyparsing==3.3.2
pyRealParser==0.1.0
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
regex==2026.7.19
requests==2.34.2
resampy==0.4.3
rich==15.0.0
rotary-embedding-torch==0.9.1
rpds-py==2026.6.3
safetensors==0.8.0
scikit-learn==1.9.0
scipy==1.18.0
setuptools==84.0.0
shellingham==1.5.4
six==1.17.0
sortedcontainers==2.4.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.13.0
torch-einops-utils==0.1.20
torchaudio==2.11.0
torchvision==0.28.0
tqdm==4.70.0
transformers==5.15.0
typer==0.27.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
vamp==1.1.0
vmo==0.30.5
wcwidth==0.8.2
webcolors==25.10.0
Werkzeug==3.1.8
x-clip==0.14.4
x-transformers==2.25.5
